# Compiled object files
*.o
*.a
*.so.*

compile_commands.json
# Executables
onmcli
clitest

# Compiled libraries
*.so

# Include directories
/include/

# Build directory
/build/

# Temporary files
*.swp
*~

# Dependency files
*.d

# Editor-specific files
valgrind*